<div class="container-icon">
    <h1 class="titulo-categoria">Oppo</h1>
		<div class="container-cart-icon"> 
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon-cart"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
            />
          </svg>
          <div class="count-products">
            <span id="contador-productos">0</span>
          </div>  
        </div>
					
        <div class="container-cart-products hidden-cart">
            <div class="row-product hidden">
                <div class="cart-product">
                    <div class="info-cart-product">
                        <span class="cantidad-producto-carrito">0</span>
                        <p class="titulo-producto-carrito"></p>
                        <span class="precio-producto-carrito">$</span>
                    </div>
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="icon-close"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                    />
                    </svg>
                </div>
            </div>
  
            <div class="cart-total hidden">
              <h3>Total:</h3>
              <span class="total-pagar">$0</span>
            </div>
            <p class="cart-empty">El carrito está vacío</p>
          </div>
	    </div>

        <div class="container-categorias">
            <div class="row">
                <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
                    <figure>
                        <img class="img-categ" src="../../../../../assets/productos/reno7.jpg" alt="OPPO Reno 7">
                    </figure>
                    <div class="info-producto">
                        <h2> OPPO Reno 7 </h2> 
                        <p class="price">$ 1799990</p>
                        <button> <a href="#"> Detalles </a> </button>
                        <button class="btn-add-cart"> Añadir al carrito </button>
                    </div>
                </div>
  
                <div class="item-categorias col-xl 6 col-lg 4 col-md 12">
                    <figure>
                        <img class="img-categ" src="../../../../../assets/productos/Oppo-A54.jpg" alt="OPPO A54">
                    </figure>
                    <div class="info-producto">
                        <h2> OPPO A54 </h2> 
                        <p class="price">$ 745000</p>
                        <button> <a href="#"> Detalles </a> </button>
                        <button class="btn-add-cart"> Añadir al carrito </button>
                    </div>
                </div>
  
                <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
                    <figure>
                        <img class="img-categ" src="../../../../../assets/productos/Oppo-Find-X2-Pro-.jpg" alt="OPPO FIND X2 PRO">
                    </figure>
                    <div class="info-producto">
                        <h2> OPPO FIND X2 PRO </h2> 
                        <p class="price">$ 3525000 </p>
                        <button> <a href="#"> Detalles </a> </button>
                        <button class="btn-add-cart"> Añadir al carrito </button>
                    </div>
                </div>
            </div>
  
            <div class="row">
                <div class="item-categorias col-xl 6 col-lg 4 col-md 12">
                    <figure>
                        <img class="img-categ" src="../../../../../assets/productos/Oppo-Find-N2.jpg" alt="OPPO Find N2">
                    </figure>
                    <div class="info-producto">
                         <h2> OPPO Find N2 </h2>
                        <p class="price">$ 9990000</p>
                        <button> <a href="#"> Detalles </a> </button>
                        <button class="btn-add-cart"> Añadir al carrito </button>
                    </div>
                </div>
  
                <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
                    <figure>
                        <img class="img-categ" src="../../../../../assets/productos/oppo-a17.jpg" alt="OPPO A17">
                    </figure>
                    <div class="info-producto">
                        <h2> OPPO A17 </h2> 
                        <p class="price">$ 679000</p>
                        <button> <a href="#"> Detalles </a> </button>
                        <button class="btn-add-cart"> Añadir al carrito </button>
                    </div>
                </div>
  
                <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
                    <figure>
                        <img class="img-categ" src="../../../../../assets/productos/comingSoon.jpeg" alt="coming Soon">
                    </figure>
                    <div class="info-producto">
                        <h2> Coming Soon </h2> 
                    </div>
                </div>
        </div>   
  </div>
