

<div class="tool-tip-container">
    <div class="tool-container">
      <a routerLink="/private/cuenta"><img class="img_configuracion" src="../../../../assets/ConfiguracionPerfil.png" alt="" class="icon"></a>    
        <div class="text-container">
            <span class="text">Configuración Perfil</span>
        </div>
    </div>
    <div class="tool-container">
      <a routerLink="/private/cambioContraseña"> <img class="img_cambio" src="../../../../assets/change_password.png" alt="" class="icon"> </a>
        <div class="text-container">
            <span class="text">Cambiar Contraseña</span>
        </div>   
    </div>
    <div class="tool-container">
         <a routerLink="/private/MisCompras"> <img class="img_compras" src="../../../../assets/Compras.png" alt="" class="icon"> </a>
        <div class="text-container">
            <span class="text">Mis Compras</span>
        </div>   
    </div>
    <div class="tool-container">
        <img class="img_cerrar" src="../../../../assets/exit.png" alt="" class="icon">  
        <div class="text-container">
            <span class="text">Contactos</span>
        </div>  
    </div>
  </div>


  <form class="form-password">
    <H5>Cambio De Contraseña </H5>
    <div>
      <label for="password"> Contraseña Actual: </label>
      <input class="controls-login" type="text" id="user" required placeholder="Ejemplo: 123456789" />
    </div>

    <div>
      <label for="newpassword"> Contraseña Nueva: </label>
      <input class="controls-login" type="password" id="password" required placeholder="Ejemplo: 12345" />
    </div>
    <div>
      <label for="confirmpassword"> Confirma Contraseña: </label>
      <input class="controls-login" type="password" id="password" required placeholder="Ejemplo: 12345" />
    </div>

    <button class="button-change" type="submit"> Cambiar Contraseña </button>
  </form>
