<div class="container-icon">
  <h1 class="titulo-categoria">Categorias</h1>
      <div class="container-cart-icon"> 
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon-cart"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
          />
        </svg>
        <div class="count-products">
          <span id="contador-productos">0</span>
        </div>  
      </div>
        
        <div class="container-cart-products hidden-cart">
          <div class="row-product hidden">
            <div class="cart-product">
              <div class="info-cart-product">
                <span class="cantidad-producto-carrito">0</span>
                <p class="titulo-producto-carrito"></p>
                <span class="precio-producto-carrito">$</span>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="icon-close"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </div>
          </div>

          <div class="cart-total hidden">
            <h3>Total:</h3>
            <span class="total-pagar">$0</span>
          </div>
          <p class="cart-empty">El carrito está vacío</p>
        </div>
</div>

<div class="container-categorias">
  <div class="row">
    <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
      <figure>
          <img class="img-categ" src="../../../../assets/img-categorias/apple.png" alt="apple">
      </figure>
      <div class="info-producto">
          <h2>Apple</h2> 
          <button> <a href="/public/apple"> Ver </a> </button>
      </div>
    </div>

    <div class="item-categorias col-xl 6 col-lg 4 col-md 12">
      <figure>
          <img class="img-categ" src="../../../../assets/img-categorias/Oppo.png" alt="oppo">
      </figure>
      <div class="info-producto">
          <h2> Oppo</h2> 
          <button> <a href="/public/oppo"> Ver </a> </button>
      </div>
    </div>

    <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
      <figure>
          <img class="img-categ" src="../../../../assets/img-categorias/samsung.jpg" alt="samsung">
      </figure>
      <div class="info-producto">
          <h2>Samsung </h2> 
          <button> <a href="/public/samsung"> Ver </a> </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="item-categorias col-xl 6 col-lg 4 col-md 12">
      <figure>
          <img class="img-categ" src="../../../../assets/img-categorias/xiaomi.png" alt="xiaomi">
      </figure>
      <div class="info-producto">
          <h2> Xiaomi</h2> 
          <button> <a href="/public/xiaomi"> Ver </a> </button>
      </div>
    </div>

    <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
      <figure>
          <img class="img-categ" src="../../../../assets/img-categorias/huawei.png" alt="huawei">
      </figure>
      <div class="info-producto">
          <h2> Huawei</h2> 
          <button> <a href="/public/huawei"> Ver </a> </button>
      </div>
    </div>

    <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
      <figure>
          <img class="img-categ" src="../../../../assets/img-categorias/motorola.png" alt="motorola">
      </figure>
      <div class="info-producto">
          <h2>Motorola </h2> 
          <button> <a href="/public/motorola"> Ver </a> </button>
      </div>
    </div>
  </div>   
</div>
