<div class="container-icon">
    <h1 class="titulo-categoria">Huawei</h1>
		<div class="container-cart-icon"> 
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon-cart"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
            />
          </svg>
          <div class="count-products">
            <span id="contador-productos">0</span>
          </div>  
        </div>
					
        <div class="container-cart-products hidden-cart">
            <div class="row-product hidden">
                <div class="cart-product">
                    <div class="info-cart-product">
                        <span class="cantidad-producto-carrito">0</span>
                        <p class="titulo-producto-carrito"></p>
                        <span class="precio-producto-carrito">$</span>
                    </div>
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="icon-close"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                    />
                    </svg>
                </div>
            </div>
  
            <div class="cart-total hidden">
              <h3>Total:</h3>
              <span class="total-pagar">$0</span>
            </div>
            <p class="cart-empty">El carrito está vacío</p>
          </div>
	    </div>

        <div class="container-categorias">
            <div class="row">
                <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
                    <figure>
                        <img class="img-categ" src="../../../../../assets/productos/p30lite.jpg" alt="Huawei P30 Lite">
                    </figure>
                    <div class="info-producto">
                        <h2> Huawei P30 Lite </h2> 
                        <p class="price">$ 569000</p>
                        <button> <a href="#"> Detalles </a> </button>
                        <button class="btn-add-cart"> Añadir al carrito </button>
                    </div>
                </div>

                <div class="item-categorias col-xl 6 col-lg 4 col-md 12">
                    <figure>
                        <img class="img-categ" src="../../../../../assets/productos/nova9.jpg" alt="Huawei Nova 9">
                    </figure>
                    <div class="info-producto">
                        <h2> Huawei Nova 9 </h2> 
                        <p class="price">$ 1775000</p>
                        <button> <a href="#"> Detalles </a> </button>
                        <button class="btn-add-cart"> Añadir al carrito </button>
                    </div>
                </div>

                <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
                    <figure>
                        <img class="img-categ" src="../../../../../assets/productos/p60pro.jpg" alt="Huawei P60 Pro">
                    </figure>
                    <div class="info-producto">
                        <h2> Huawei P60 Pro </h2> 
                        <p class="price">$ 4299000</p>
                        <button> <a href="#"> Detalles </a> </button>
                        <button class="btn-add-cart"> Añadir al carrito </button>
                    </div>
                </div>
        </div>

        <div class="row">
            <div class="item-categorias col-xl 6 col-lg 4 col-md 12">
                <figure>
                    <img class="img-categ" src="../../../../../assets/productos/p20pro.jpg" alt="Huawei P20 Pro">
                </figure>
                <div class="info-producto">
                    <h2> Huawei P20 Pro </h2>
                    <p class="price">$ 2382000</p>
                    <button> <a href="#"> Detalles </a> </button>
                    <button class="btn-add-cart"> Añadir al carrito </button>
                </div>
            </div>

            <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
                <figure>
                    <img class="img-categ" src="../../../../../assets/productos/honor8x.jpg" alt="Huawei Honor 8x">
                </figure>
                <div class="info-producto">
                    <h2> Huawei Honor 8x </h2> 
                    <p class="price">$ 1138000</p>
                    <button> <a href="#"> Detalles </a> </button>
                    <button class="btn-add-cart"> Añadir al carrito </button>
                </div>
            </div>

            <div class="item-categorias col-xl 6 col-lg 4 col-md 12"> 
                <figure>
                    <img class="img-categ" src="../../../../../assets/productos/comingSoon.jpeg" alt="Coming soon">
                </figure>
                <div class="info-producto">
                    <h2> Coming Soon </h2> 
                </div>
            </div>
        </div>   
</div>
