<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/telefonos_juntos.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../assets/audifonos.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../assets/cargador.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>

<div class="pagina-inicio">
    <div class="centro">

        <p class="parrafo"> La Empresa LOPEZFONTALVO S.A.S se encarga de la venta y la distrubución de dispositivos
            mobiles y accesorios para los mismos.
            Dentro de su cátalogo, se encuentran dispositivos de las marcas más reconocidas y acreditadas en el mercado
            tecnológico, y además, accesorios como:
            Fundas, cargadores, vidrios templados, audifonos, popsockets, stands, etc.
        </p>
        <P class="parrafo">Adicionalmente, contamos con servicios de soporte tecnico y asesorias para brindarle la mejor
            experiencia al usuario.</P>
    </div>
</div>