<div class="help">
    <h1>¿Como podemos ayudarte?</h1>
    <form>
        <div class="help1">
            <label class="text" for=»help»> Busca ayuda </label>
            <input class="text2" type=»text» id=»help» placeholder="¿Cual es tu problema?"/>
            <button class="button-help" type=»submit»> Buscar </button>
        </div>
        <div class="help2">
          <h2>Compras </h2> 
          <button> Administrar y Cancelar Compras </button>
          <button> Devoluciones y Reembolsos</button>
          <h2>Ayuda sobre tu cuenta</h2> 
          <button> Configuración de mi cuenta</button>
          <button>Seguridad </button>
        </div>
    </form>
       
  </div>