<div class="sale">
    <h1>Ofertas</h1>
    <div>
        <form>
          <div class="form-sale">
            <label class="of" for=»sale»> Buscar Ofertas </label>
            <input class="of1" type=»text» id=»sale» placeholder="Ofertas Disponibles"/>
            <button class="button-sale" type=»submit»> Buscar </button>
          </div>
        </form> 
    </div>
 </div>

<br><br>
 <div class="nosotros-1">
    <h1>Acerca de Nosotros</h1>
    <div class="nosotros-2">
        <div>
            <h2>¿Quiénes somos?</h2>
            <p>La empresa LOPEZFONTALVO S.A.S se encarga de la venta de dispositivos y
              accesorios en la cuidad de Manizales, y ahora, al mercado digital. Tenemos tienda fisica en Carrera 8f con aveniza los mangos. Manizalez, Colombia.</p>
              <div class="row">
                <div class="col-lg-4 col-md-12 text-center">
                  <img class="img-fluid miclass" src="../../../../assets/accesorios.jpg" alt="">
                </div>
                
                <div class="col-lg-4 col-md-12 text-center">
                  <img class="img-fluid miclass" src="../../../../assets/asesorias.jpg" alt="">
                </div>
                
                <div class="col-lg-4 col-md-12 text-center">
                  <img class="img-fluid miclass" src="../../../../assets/celulares.jpg" alt="">
                </div>
              </div>
        </div>
    </div>
  </div>