
<div class="formContainer">
    <h2>Compras</h2>
    <form>
      <div class="form-purchase">
        <input class="of1" type=Â»textÂ» id=Â»saleÂ» placeholder="Buscar"/>
        <button class="button-sale" type=Â»submitÂ»> Buscar </button>
      </div>
    </form>  
  </div>

  <div class="itemProducts">
    <div>
        <h3>No hay productos por mostrar</h3>
    </div>
  </div>

  <div class="tool-tip-container">
    <div class="tool-container">
      <a routerLink="/private/cuenta"><img class="img_configuracion" src="../../../../assets/ConfiguracionPerfil.png" alt="" class="icon"></a>    
    </div>
    <div class="tool-container">
      <a routerLink="/private/cambioContraseña"> <img class="img_cambio" src="../../../../assets/change_password.png" alt="" class="icon"> </a>
  
    </div>
    <div class="tool-container">
         <a routerLink="/private/MisCompras"> <img class="img_compras" src="../../../../assets/Compras.png" alt="" class="icon"> </a>
  
    </div>
    <div class="tool-container">
        <img src="../../../../assets/exit.png" alt="" class="icon">  

    </div>
  </div>



