<div class="profile_cont">
    <h1 style="color: black;" class="tittle"> Bienvenido</h1>
    <div class="ProfileContent">
      <div style="color: black;" class="profileContentItem"> <a href="#"> Mis datos</a> </div>
      <div style="color: black;" class="profileContentItem"> <a href="#"> Privacidad</a> </div>
      <div style="color: black;" class="profileContentItem"> <a href="#"> Direcciones</a> </div>
      <div style="color: black;" class="profileContentItem"> <a href="#"> Métodos de Pago </a> </div>
    </div>
  </div>
  
  
  
    <div class="tool-tip-container">
      <div class="tool-container">
        <a routerLink="/private/cuenta"><img class="img_configuracion" src="../../../../assets/ConfiguracionPerfil.png" alt="" class="icon"></a>    
         
      </div>
      <div class="tool-container">
        <a routerLink="/private/cambioContraseña"> <img class="img_cambio" src="../../../../assets/change_password.png" alt="" class="icon"> </a>
    
      </div>
      <div class="tool-container">
           <a routerLink="/private/MisCompras"> <img class="img_compras" src="../../../../assets/Compras.png" alt="" class="icon"> </a>
      </div>
      <div class="tool-container">
          <img src="../../../../assets/exit.png" alt="" class="icon">  
          <div class="text-container">
              
          </div>  
      </div>
    </div>