<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <div class="logo-inicio">
          <img src="../../assets/logo.ico.png" width="60px" />
        </div>
        <div class="logo">LOPEZ FONTALVO S.A.S</div>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/public/home">Inicio</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/public/acceder">Iniciar Sesión</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/public/registro">Registro</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/public/mas">Más</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a routerLink="html/accesorios.html" class="nav-link dropdown-toggle" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">Accesorios</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="#">
                    Cargadores
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="#">
                    Fundas
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="#">
                    Audifonos
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="#">
                    Stands
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="#">Popsockets
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="#">Vidrios Templados
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/public/accesorios">
                    Todos
                  </a>
                </li>
              </ul>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Categorías</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="/public/apple">
                    Apple
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/public/oppo">
                    Oppo
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="public/samsung">
                    Samsung
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/public/xiaomi">
                    Xiaomi
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/public/huawei">
                    Huawei
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/public/motorola">
                    Motorola
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/public/categorias">Todos
                  </a>
                </li>
              </ul>
            </li>
          </div>
        </div>
      </div>
    </nav>
  </header>
  
  <div>
    <router-outlet></router-outlet>
  </div>
  
  <footer class="pie">
    <div class="logopie1">
      <div class="logopie2">
        <p>LOPEZ FONTALVO S.A.S</p>
      </div>
      <div class="redes">
        <span> <a href="#"> <img src="../../assets/facebook.png" alt="facebook" width="40"></a> Facebook </span>
        <span> <a href="#"> <img src="../../assets/instagram.png" alt="instagram" width="40"></a> Instagram</span>
        <span> <a href="#"> <img src="../../assets/twitter.png" alt="Twitter" width="40"></a>Twitter</span>
        <span> <a href="#"> <img src="../../assets/gmail.png" alt="gmail" width="40"></a>Correo</span>
      </div>
    </div>
    <hr>
    <div class="copy">
      <p> Copyrigth 2023. Todos los Derechos Reservados</p>
      <p>Politica de Privacida y Seguridad</p>
      <p> Terminos y Condiciones </p>
    </div>
  </footer>
  
  
  